:root{
    --back-body: #ddd;
    --back-main: #FBFCF7;
    --back-footer: #7f807a;
    --color-font:white;
    
    --color-font-btns:white;
    --back-menu: #5C7EAE;
    
    --font-main: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-size-normal: 1.3em;
}
body{
    background-color: var(--back-body);
    grid-template-columns: 5fr 2fr;
    display: grid;
    gap: 5px;
    grid-template-areas: "header header"
                          "main main"
                          "footer aside";
    font-family: var(--font-main);
    font-size: var(--font-size-normal);
    
}

header{
    grid-area: header;
    margin-bottom:0px;
}

.box-header{
    background-color: var(--back-menu);
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    margin: 5px;
    text-align: center;
}
#nombre-empresa{
    grid-area: header;
    padding: 0;
    
    
}
div h1 a {
    text-decoration: none;
    color: var(--color-font);
    font-size: 2em;
}

#menu{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0px;
    
}
#menu li{
    width: 100%;
    list-style: none;
}
#menu li a{
    display: flex;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    background-color: var(--back-menu);
    justify-content: space-evenly;
    
}




main{
    grid-area: main;
    margin-top: 0;
}
article{
    display: flex;
    flex-flow: column nowrap;
}
.encabezado{
    font-size: 1.7em;
}
.main-image{
    width: 50%;
}

.boton{
    background-color: var(--menu);
    border-radius: 4px;
    padding: 10px;
    width: 20%;
    margin-left: 40%;

    
}
.boton a{
    color: var(--color-font-btns);
    text-decoration: none;
    display: block;
    width: 100%;
    
}
.box-main{
    background-color: var(--back-main);
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    text-align: center;

    margin: 5px;


}
.box-main-suc{
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    text-align: center;

    margin: 5px;
}
.box-main-suc ol{
    list-style: none;
    display: flex;
}
.box{
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    border: 1px solid #ddd;
    width: 100%;
    margin: 5px;
}
.importante{
    font-size: 2em;
}
aside{
    grid-area: aside;

}
.box-aside{
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    margin: 5px;
    text-align: center;
}

footer{
    grid-area:footer;
}
.box-footer{
    background-color: var(--back-footer);
    border-radius: 4px;
    padding: 10px;
    justify-content: center;
    margin: 5px;
    text-align: center;
}